/* Default styles
/* ---------------------------------------------- */


/*Colors: 
Blues
#72c2ff 
#3792cc 
#a8f5ff 

Reds
#d32f2f 
#ff6659
#9a0007
*/


/*
Redish
#cb2f55
Orange
#e56d39
Yellow
#e5ae27
Blue
#239efc
*/

body {
    font-family: 'Archivo', sans-serif;
    background: #292a2c;
}



/* Links
/* ----------- */

a,
a:visited,
a:focus {
    color: #fff;
    color: #ddd;
    text-decoration: none;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover {
    text-decoration: none;
    color: #6cb1d6;
    color: #fff;
}

a {
    color: ;
}

.navbar {
    background-color: rgba(41, 42, 44, .9);
    width: 100%;
}

.hidden {
    display: none;
}

.heading {
    font-family: 'Zilla Slab Highlight', cursive;
    color: #FFF;
}

.sub-heading {
    color: #FFF;
    word-spacing: 100vw;
}

.content-holder {
    padding-top: 50px;
}

.section {
    padding-top: 25px;
    padding-bottom: 25px;
}


.section-content {
    padding-top: 50px;
    padding-bottom: 150px;
}




/* Hero Section styles
/* ---------------------------------------------- */

@keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-webkit-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-moz-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

@-ms-keyframes move-twink-back {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -10000px 5000px;
    }
}

.stars {
    background: #292a2c url(../images/stars.png) repeat top center;
    z-index: 0;
}

.twinkling {
    background: transparent url(../images/twinkle2.png) repeat top center;
    z-index: 1;
    -moz-animation: move-twink-back 200s linear infinite;
    -ms-animation: move-twink-back 200s linear infinite;
    -o-animation: move-twink-back 200s linear infinite;
    -webkit-animation: move-twink-back 200s linear infinite;
    animation: move-twink-back 200s linear infinite;
}



.content-4180 {
    background: url(../images/hero_transparent.png);
    background-size: 50%;
    background-position: right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.hero {
    position: relative;
    padding-top: 100px;
    padding-left: 100px;
    height: 100vh;
}

.stars,
.twinkling {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
}

.arrow-pos {
    position: absolute;
    bottom: 0;
    left: 20%;
    fill: #72c2ff;
    cursor: pointer;
}

.arrow-pos:hover {
    fill: #cb2f55;
}

.down-arrow path {
    background-image: url(../images/down-arrow.svg);
}




/* BIO Section styles
/* ---------------------------------------------- */

#brief-bio {
    position: relative;
}

#brief-bio:before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(41, 42, 44, .5);
}


.section-tall {
    padding-top: 25px;
    padding-bottom: 100px;
}

.bio-text {
    margin-top: 100px;
    color: #FFF;
}

.big-text {
    font-size: 3em;
    color: #FFF;
}

.inline {
    display: inline;
}

.medium-text {
    font-size: 2em;
}

.bio-heading {
    text-decoration: underline;
}

.highlight {
    color: black;
    background: white;
    padding: 2px;
}

.lined {
    color: #72c2ff;
    border-bottom: 1px dashed #fff;
}

.more-arrow {
    display: inline-block;
    font-size: 3em;
    color: #72c2ff;
    cursor: pointer;
}


/* 'Built By Will' styles
/* ---------------------------------------------- */

#portfolio {
    background: #239efc;
    width: 100%;
    position: relative;
    margin: 0;
    color: #FFF;
}

#portfolio:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
    height: 90px;
    background: #239efc;
    background: linear-gradient(0deg, #239efc, #3792cc);
    -webkit-transform: skewY(-2.5deg);
    -moz-transform: skewY(-2.5deg);
    -ms-transform: skewY(-2.5deg);
    -o-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
}

#portfolio:after {
    position: absolute;
    content: "";
    border-width: 0 100px 100px 0;
    border-style: solid;
    border-color: #fff #fff transparent transparent;
    background: linear-gradient(45deg, #239efc, #3792cc);
    top: 0px;
    right: 0px;
    z-index: -2;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


.app-icon {
    height: 16px;
    margin-right: .5rem;
    overflow: hidden;
    width: 16px;
    vertical-align: baseline;
}

#portfolio .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: none;
    display: inline-flex;
    font-size: 0.8rem;
    height: 2.25em;
    padding-bottom: calc(.375em - 1px);
    padding-top: calc(.375em - 1px);
    position: relative;
    vertical-align: top;
    -webkit-user-select: none;
    user-select: none;
    justify-content: center;
    padding-left: .75em;
    padding-right: .75em;
    text-align: center;
    white-space: nowrap;
    margin: 5px 2px;
    background: white;
    color: #292a2c;
}

.is-checked {
    color: #cb2f55;
}


.badge {
    margin-left: 5px;
}



/* Projects Display */

.project-image {
    padding: 5px;
    margin: 5px;
    background: #fff;
}

.project-image-border {
    margin: 5px;
    border: 5px solid #eee;
}



.element-item {
    position: relative;
    color: #292a2c;
}

.element-item .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, .1);
    opacity: 0;
}

.mask:hover {
    background: rgba(229, 174, 39, .8);
    opacity: 1;
}

.element-item .mask h3 {
   background: rgba(255, 255, 255, .6);
   padding: 10px;
   margin: 10px;
   color:  #292a2c;
}


.modal-body a {
    color: #cb2f55;
}


/*-----------------------------------------------
/* Learning styles
/* ---------------------------------------------- */

#learning {
    background: #cb2f55;
    width: 100%;
    position: relative;
    margin: 0;
    color: #FFF;
    padding-bottom: 100px;
}

#learning:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
    height: 90px;
    background: #cb2f55;
    -webkit-transform: skewY(2.5deg);
    -moz-transform: skewY(2.5deg);
    -ms-transform: skewY(2.5deg);
    -o-transform: skewY(2.5deg);
    transform: skewY(2.5deg);
}



/*--------------------------------
/* FOOTER + Social Links Section
/*-------------------------------*/

#connect {
    background: #e56d39;
    width: 100%;
    position: relative;
    margin: 0;
    color: #FFF;
}

#connect:before {
    content: '';
    position: absolute;
    left: 0;
    top: -36px;
    width: 100%;
    height: 90px;
    background: #e56d39;
    -webkit-transform: skewY(-2.5deg);
    -moz-transform: skewY(-2.5deg);
    -ms-transform: skewY(-2.5deg);
    -o-transform: skewY(-2.5deg);
    transform: skewY(-2.5deg);
}

#connect a.btn{
    color: #fff;
}



/*--------------------------------
/* ANIMATION
/*-------------------------------*/

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animated-delay {
    animation-delay: 1s;
}



/*Bounce*/

@keyframes bounce {
    from,
    20%,
    53%,
    80%,
    to {
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        transform: translate3d(0, -4px, 0);
    }
}

.bounce {
    animation-name: bounce;
    transform-origin: center bottom;
}




/*SHAKE*/

@keyframes shake {
    from,
    to {
        transform: translate3d(0, 0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate3d(-10px, 0, 0);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    animation-name: shake;
}






/*Roll Out*/

@keyframes rollOutRight {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }
}

.rollOutRight {
    animation-name: rollOutRight;
}

@keyframes rollOutLeft {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }
}

.rollOutLeft {
    animation-name: rollOutLeft;
}




/*Roll In*/

@keyframes rollInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0) rotate3d(0, 0, 1, -120deg);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.rollInLeft {
    animation-name: rollInLeft;
}

@keyframes rollInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.rollInRight {
    animation-name: rollInRight;
}



/*--------------------------------
/* Baloon Tooltip
/*-------------------------------*/

[data-balloon] {
    position: relative;
    cursor: pointer;
}

[data-balloon]:after {
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    font-family: sans-serif !important;
    font-weight: normal !important;
    font-style: normal !important;
    text-shadow: none !important;
    font-size: 0.5em !important;
    background: rgba(17, 17, 17, 0.9);
    border-radius: 4px;
    color: #fff;
    content: attr(data-balloon);
    padding: .5em 1em;
    position: absolute;
    white-space: nowrap;
    z-index: 10;
}

[data-balloon]:before {
    background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(17, 17, 17, 0.9)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
    background-size: 100% auto;
    width: 18px;
    height: 6px;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.18s ease-out 0.18s;
    -moz-transition: all 0.18s ease-out 0.18s;
    -ms-transition: all 0.18s ease-out 0.18s;
    -o-transition: all 0.18s ease-out 0.18s;
    transition: all 0.18s ease-out 0.18s;
    content: '';
    position: absolute;
    z-index: 10;
}

[data-balloon]:hover:before,
[data-balloon]:hover:after,
[data-balloon][data-balloon-visible]:before,
[data-balloon][data-balloon-visible]:after {
    filter: alpha(opacity=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
    pointer-events: auto;
}

[data-balloon].font-awesome:after {
    font-family: FontAwesome;
}

[data-balloon][data-balloon-break]:after {
    white-space: pre;
}

[data-balloon][data-balloon-blunt]:before,
[data-balloon][data-balloon-blunt]:after {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
}

[data-balloon][data-balloon-pos="up"]:after {
    bottom: 100%;
    left: 50%;
    margin-bottom: 11px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

[data-balloon][data-balloon-pos="up"]:before {
    bottom: 100%;
    left: 50%;
    margin-bottom: 5px;
    -webkit-transform: translate(-50%, 10px);
    -moz-transform: translate(-50%, 10px);
    -ms-transform: translate(-50%, 10px);
    transform: translate(-50%, 10px);
    -webkit-transform-origin: top;
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
}

[data-balloon][data-balloon-pos="up"]:hover:after,
[data-balloon][data-balloon-pos="up"][data-balloon-visible]:after {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

[data-balloon][data-balloon-pos="up"]:hover:before,
[data-balloon][data-balloon-pos="up"][data-balloon-visible]:before {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}




/*--------------------------------
/* Pace Load Progress Bar
/*-------------------------------*/

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #fff;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 4px;
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0px;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #29d, 0 0 5px #29d;
    opacity: 1.0;
    -webkit-transform: rotate(3deg) translate(0px, -4px);
    -moz-transform: rotate(3deg) translate(0px, -4px);
    -ms-transform: rotate(3deg) translate(0px, -4px);
    -o-transform: rotate(3deg) translate(0px, -4px);
    transform: rotate(3deg) translate(0px, -4px);
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 24px;
    height: 24px;
    border: solid 4px transparent;
    border-top-color: #fff;
    border-left-color: #fff;
    border-radius: 10px;
    -webkit-animation: pace-spinner 400ms linear infinite;
    -moz-animation: pace-spinner 400ms linear infinite;
    -ms-animation: pace-spinner 400ms linear infinite;
    -o-animation: pace-spinner 400ms linear infinite;
    animation: pace-spinner 400ms linear infinite;
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}